form{
    background: red;
}
label{
    background: goldenrod;

}
p{
    background: yellow;
}

div{
    background: blue;
}

ul{
    background: blueviolet;
}

li{ /*itt mar volt egy li remelem nem baj ha beleraktam azt amit kuldtel*/
    background: forestgreen;
    display: block;
}
h2{
    background: greenyellow; 
}
h1{
    background: hotpink;
}
h3{
    background:indigo;
}
.scroll{
    height: 100px;
    overflow: auto;
}
.normal{
    background:white;
    color:black;
}
.selected{
    background:black;
    color:white;
}