@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.asidebox{
    background-color: #A3ACB7;
    align-self: center;
    border-radius: 20px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    vertical-align: left;
    display: flex;
    color: white;
    position: relative;
    height: 100vh;
}

.title{
    background: #505155;
    border-radius: 20px 0px 0px 0px;
    text-align: center;
    margin-top: 0px;
    height: 40px;
    color: white;
    padding-top: 20px;
}

img{
    display: flex;
    margin-top: 15px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    margin-left: 0px;
}

p{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.asidebox li{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin:0px;
    cursor:pointer;
    align-self: center;
    color: #242424;
    background-color: transparent;
    width: 100%;
    padding: 5px;
    margin-left: 0px;
    margin-right: 10px;

}

.asidebox li:hover{
    margin:0px;
    cursor:pointer;
    align-self: center;
    color: white;
    background: #443E3E;
    padding: 5px;
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 10px;

}

.asidebox ul{
    margin:10px;
    padding: 20px;
    border:0px solid transparent;
    background-color: #8D8D8D;
    height: 100%;

}

.asidebox ul:hover{
    border:0px solid transparent;
    background-color: #8D8D8D;

}
