$background-gradient: linear-gradient(180deg,#0E131F 40%,#131B30 90%);
$panel-translucent-color: rgba(#9A9A9A,0.17);
$input-background-color: rgba(#C4C4C4,0.16);
$text-foreground-blue-color: #CAFCFF;
$text-foreground-white-color: #FFFFFF;
$button-background-gray-color: #696A6D;